<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="certificateMapper">


<resultMap id="graduationResultSet" type="Graduation">
		<id property="gradNo" column="GRADUATION_NO" />
		<result property="stuId" column="STU_ID" />
		<result property="stuName" column="STU_NAME" />
		<result property="ssn" column="SSN" />
		<result property="gradDate" column="GRADUATE_DATE" />
		<result property="deptTitle" column="DEPT_TITLE" />
</resultMap>
<resultMap id="certificateResultSet" type="Certificate">
		<id property="cerNo" column="CER_NO" />
		<result property="stuId" column="STU_ID" />
		<result property="category" column="CER_CATEGORY" />
		<result property="title" column="CER_TITLE" />
		<result property="agency" column="AGENCY" />
		<result property="getDate" column="GET_DATE" />
		<result property="status" column="STATUS" />
</resultMap>
<resultMap id="volunteerResultSet" type="Volunteer">
		<id property="volNo" column="VOL_NO" />
		<result property="stuId" column="STU_ID" />
		<result property="volTitle" column="VOL_TITLE" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="volTime" column="VOL_TIME" />
		<result property="originName" column="ORIGIN_NAME" />
		<result property="changeName" column="CHANGE_NAME" />
		<result property="status" column="STATUS" />
</resultMap>
<resultMap id="studentSet" type="Student">
		<id property="stuId" column="STU_ID" />
		<result property="deptCode" column="DEPT_CODE" />
		<result property="profId" column="PROF_ID" />
	</resultMap>
<resultMap id="departListSet" type="Department">
		<id property="deptCode" column="DEPT_CODE" />
		<result property="deptTitle" column="DEPT_TITLE" />
</resultMap>
<select id="gradeAbout" parameterType="_int" resultMap="graduationResultSet">
		SELECT A.*, c.DEPT_TITLE
		FROM GRADUATION A
		LEFT JOIN STUDENT B ON A.STU_ID=B.STU_ID
		LEFT JOIN DEPARTMENT c ON B.DEPT_CODE=c.DEPT_CODE
		WHERE A.STU_ID=#{stuId}
</select>
<select id="certificateList" parameterType="_int" resultMap="certificateResultSet">
		SELECT *
		FROM CERTIFUCATE
		WHERE STU_ID=#{stuId} AND STATUS='Y'
</select>
<select id="volunteerList" parameterType="_int" resultMap="volunteerResultSet">
		SELECT *
		FROM VOLUNTEER
		WHERE STU_ID=#{stuId} AND STATUS='Y'
</select>
<insert id="certificateAdd" parameterType="Certificate" >
		INSERT INTO CERTIFUCATE
		VALUES(SEQ_CER_NO.NEXTVAL, #{stuId} , #{category}, #{title}, #{agency}, #{getDate}, default)

</insert>
<insert id="voluntterAdd" parameterType="Volunteer" >
		INSERT INTO VOLUNTEER
		VALUES(SEQ_VOL_NO.NEXTVAL, #{stuId}, #{volTitle},#{startDate},
		#{endDate},#{volTime}, #{originName},#{changeName}, DEFAULT)
</insert>
<update id="certificateDelete" parameterType="_int" >
		UPDATE CERTIFUCATE
		SET STATUS='N'
		WHERE CER_NO=#{cerNo} AND STATUS='Y'
</update>
<update id="voluntterDelete" parameterType="_int" >
		UPDATE VOLUNTEER
		SET STATUS='N'
		WHERE VOL_NO=#{volNo} AND STATUS='Y'
</update>
<select id="certificateUpDetail" parameterType="_int" resultMap="certificateResultSet">
		SELECT *
		FROM CERTIFUCATE
		WHERE CER_NO=#{cerNo} AND STATUS='Y'
</select>
<select id="volunteerUpDetail" parameterType="_int" resultMap="volunteerResultSet">
		SELECT *
		FROM VOLUNTEER
		WHERE VOL_NO=#{volNo} AND STATUS='Y'
</select>
</mapper>