<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="facilityMapper">


	<resultMap id="facilityResultSet" type="facility">
		<id property="facNo" column="FAC_NO" />
		<result property="stuId" column="STU_ID" />
		<result property="facName" column="FAC_NAME" />
		<result property="facStatus" column="FAC_STATUS" />
		<result property="facReason" column="FAC_REASON" />
		<result property="facPeriod" column="FAC_PERIOD" />
		<result property="facDate" column="FAC_DATE" />
		<result property="fileBName" column="ORIGIN_NAME" />
		<result property="fileFName" column="CHANGE_NAME" />
		<result property="fac_cat" column="CATEGORY" />
	</resultMap>


	<resultMap id="facilityCheckResultSet" type="facilitycheck">
		<id property="facNo" column="FAC_NO" />
		<result property="stuId" column="STU_ID" />
		<result property="facName" column="FAC_NAME" />
		<result property="facContent" column="FAC_REASON" />
		<result property="stuName" column="STU_NAME" />
		<result property="stuTitle" column="DEPT_TITLE" />

	</resultMap>


	<resultMap id="allamResultSet" type="allam">
		<id property="aNo" column="ANO" />
		<result property="stuId" column="STU_ID" />
		<result property="status" column="STATUS" />
		<result property="name" column="NAME" />

	</resultMap>
	<select id="selectListCount" resultType="_int">
		SELECT COUNT (*)
		FROM
		FACILITY
	</select>



	<select id="selectList" resultMap="facilityResultSet">
		SELECT *
		FROM FACILITY
		ORDER BY
		FAC_NO DESC
	</select>



	<select id="selectFacility" parameterType="_int"
		resultMap="facilityResultSet">
		SELECT * FROM FACILITY
		WHERE FAC_NO = #{no}

	</select>

	<insert id="inserFacility" parameterType="facility">
		INSERT INTO FACILITY
		VALUES(SEQ_FAC_NO.NEXTVAL,NULL, #{facName}, DEFAULT,
		NULL,NULL,
		DEFAULT,#{fileBName},#{fileFName},#{fac_cat}
		)
	</insert>


	<select id="selectListCountse" resultType="_int"
		parameterType="SearchFac">
		SELECT COUNT(*)
		FROM FACILITY
		<choose>
			<when test='cate1.equals("선택") and cate4.equals("선택") '>
			</when>
			<when test='!cate1.equals("선택")  and cate4.equals("선택") '>
				WHERE CATEGORY=#{cate1}
			</when>
			<when test='cate1.equals("선택")  and !cate4.equals("선택") '>
				WHERE FAC_STATUS=#{cate4}
			</when>
			<when test='!cate1.equals("선택")  and !cate4.equals("선택") '>
				WHERE CATEGORY=#{cate1}
				AND FAC_STATUS=#{cate4}
			</when>
		</choose>
	</select>


	<select id="selectListse" parameterType="SearchFac"
		resultMap="facilityResultSet">
		SELECT *
		FROM FACILITY
		<choose>
			<when
				test='cate1.equals("선택") and cate4.equals("선택") and cate3.equals("선택")'>
			</when>
			<when
				test='!cate1.equals("선택")  and cate4.equals("선택")  and cate3.equals("선택")'>
				WHERE CATEGORY=#{cate1}
			</when>
			<when
				test='cate1.equals("선택")  and !cate4.equals("선택") and cate3.equals("선택")'>
				WHERE FAC_STATUS=#{cate4}
			</when>
			<when
				test='cate1.equals("선택")  and cate4.equals("선택") and !cate3.equals("선택")'>
				WHERE FAC_NAME LIKE '%'||#{cate3}||'%'
			</when>

			<when
				test='!cate1.equals("선택")  and !cate2.equals("선택") and cate3.equals("선택")'>
				WHERE CATEGORY=#{cate1}
				AND FAC_STATUS=#{cate4}
			</when>

			<when
				test='!cate1.equals("선택")  and cate2.equals("선택") and !cate3.equals("선택")'>
				WHERE CATEGORY=#{cate1}
				AND FAC_NAME LIKE  '%'||#{cate3}||'%'
			</when>
			<when
				test='cate1.equals("선택")  and !cate2.equals("선택") and !cate3.equals("선택")'>
				WHERE FAC_STATUS=#{cate4}
				AND FAC_NAME LIKE  '%'||#{cate3}||'%'
			</when> 

			<when
				test='!cate1.equals("선택")  and !cate2.equals("선택") and !cate3.equals("선택")'>
				WHERE CATEGORY=#{cate1}
				AND FAC_STATUS=#{cate4}
				AND
				FAC_NAME LIKE '%'||#{cate3}||'%'
			</when>



		</choose>
		ORDER BY
		FAC_NO DESC
	</select>



	<delete id="deleteFac" parameterType="_int">
		DELETE FROM FACILITY WHERE
		FAC_NO=#{hidden}




	</delete>

	<update id="facApp" parameterType="SearchFac">
		UPDATE FACILITY SET
		FAC_REASON=#{cate1}, STU_ID=#{cate2}, FAC_STATUS=#{cate4} WHERE
		FAC_NO=#{cate3}


	</update>


	<select id="selectListAppCount" resultType="_int">
		SELECT COUNT (*)
		FROM
		FACILITY
		WHERE FAC_STATUS='예약중'
	</select>


	<select id="selectAppList" resultMap="facilityCheckResultSet">
		SELECT A.FAC_NO,A.STU_ID,
		A.FAC_NAME, A.FAC_REASON,B.STU_NAME, C.DEPT_TITLE
		FROM FACILITY A
		JOIN
		STUDENT B ON A.STU_ID = B.STU_ID
		JOIN DEPARTMENT C ON B.DEPT_CODE =
		C.DEPT_CODE
		WHERE FAC_STATUS = '예약중'
	</select>



	<update id="facOk" parameterType="_int">
		UPDATE FACILITY SET
		FAC_STATUS='대여중' , FAC_PERIOD=SYSDATE+7
		WHERE
		FAC_NO=#{no}


	</update>


	<update id="facNo" parameterType="_int">
		UPDATE FACILITY SET
		FAC_STATUS='신청가능' , FAC_REASON=NULL , STU_ID=NULL
		WHERE
		FAC_NO=#{no}


	</update>


	<select id="facMyPage" resultMap="facilityResultSet">
		SELECT *
		FROM FACILITY
		WHERE
		STU_ID=#{id} AND FAC_STATUS='대여중'
		ORDER BY
		FAC_NO DESC
	</select>

	<select id="selectMyListCount" resultType="_int">
		SELECT COUNT (*)
		FROM
		FACILITY
		WHERE STU_ID=#{id}
	</select>



	<update id="facHome" parameterType="_int">
		UPDATE FACILITY SET
		FAC_STATUS='신청가능' , FAC_REASON=NULL , STU_ID=NULL
		WHERE
		FAC_NO=#{no}


	</update>


	<insert id="allam" parameterType="searchFac">
		INSERT INTO ALLAM
		VALUES(SEQ_ANO.NEXTVAL, #{cate5}, '거절' , #{cate4}
		)
	</insert>


	<select id="selectallam" resultMap="allamResultSet"
		parameterType="_int">
		SELECT *
		FROM ALLAM
		WHERE STU_ID=#{id}

	</select>

	<delete id="delallam" parameterType="_int">
		DELETE ALLAM WHERE STU_ID=#{test}
	</delete>


</mapper>