<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gradeMapper">

	<!-- 강의 --> 
	<!-- 학과명, 교수명 과목객체에 추가해야함. -->
	<resultMap id="profSubList" type="Subject">
		<id property="subCode" column="SUB_CODE"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
		<result property="subDivs" column="SUB_DIVS"/>
		<result property="subTitle" column="SUB_TITLE"/>
		<result property="subCredit" column="SUB_CREDIT"/>
		<result property="subType" column="SUB_TYPE"/>
		<result property="profName" column="PROF_NAME"/>
		<result property="profId" column="PROF_ID"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="subYear" column="SUB_YEAR"/>
		<result property="subSmst" column="SUB_SMST"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<!-- 성적 -->
	<resultMap type="Grade" id="gradeResultSet">
		<id property="gradeNo" column="GRADE_NO"/>
		<result property="studentId" column="STU_ID"/>
		<result property="studentName" column="STU_NAME"/>
		<result property="subCode" column="SUB_CODE"/>
		<result property="gradeYear" column="GRADE_YEAR"/>
		<result property="gradeSemester" column="GRADE_SEMESTER"/>
		<result property="gradeResult" column="GRADE_RESULT"/>
		<result property="gradeCredit" column="GRADE_CREDIT"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
		<result property="studentStatus" column="STU_STATUS"/>
		<result property="attendance" column="ATTENDANCE"/>
		<result property="assignment" column="ASSIGNMENT"/>
		<result property="midExam" column="MIDEXAM"/>
		<result property="finExam" column="FINEXAM"/>
		<result property="gradeTotal" column="GRADE_TOTAL"/>
	</resultMap>
	
	<!-- 이의신청 -->
	<resultMap type="GradeObject" id="objectionResultSet">
		<id property="objNo" column="GRA_OBJ_NO"/>
		<result property="stuId" column="STU_ID"/>
		<result property="objDate" column="GRA_OBJ_DATE"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="reason" column="REASON"/>
		<collection property="student" resultMap="StudentSet"/>
	</resultMap>
	
	<resultMap id="StudentSet" type="Student">
		<id property="stuId" column="STU_ID"/>
		<result property="profId" column="PROF_ID"/>	
		<result property="stuName" column="STU_NAME"/>	
	</resultMap>
	
	<!-- 과목 조건 검색 개수 -->
	<select id="selectSubListCount" resultType="_int" parameterType="SearchSubject">
		SELECT COUNT(*)
		FROM SUBJECT
		WHERE PROF_ID=#{profId}
		<choose>
			<when test='con1 == 0 and con2 == 0 and keyword == "%"'>
			</when>
			<when test='con1 != 0 and con2 == 0 and keyword == "%"'>
				AND SUB_YEAR=#{con1}
			</when>
			<when test='con1 == 0 and con2 != 0 and keyword == "%"'>
				AND SUB_SMST=#{con2}
			</when>
			<when test='con1 == 0 and con2 == 0 and keyword != "%"'>
				AND SUB_TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test='con1 != 0 and con2 != 0 and keyword == "%"'>
				AND SUB_YEAR=#{con1}
				AND SUB_SMST=#{con2}
			</when>
			<when test='con1 != 0 and con2 == 0 and keyword != "%"'>
				AND SUB_YEAR=#{con1}
				AND SUB_TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test='con1 == 0 and con2 != 0 and keyword != "%"'>
				AND SUB_SMST=#{con2}
				AND SUB_TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test='con1 != 0 and con2 != 0 and keyword != "%"'>
				AND SUB_YEAR=#{con1}
				AND SUB_SMST=#{con2}
				AND SUB_TITLE LIKE '%'||#{keyword}||'%'
			</when>
		</choose>
	</select>
	
	<!-- 학과명, 교수명 과목객체에 추가해야함. -->
	<!-- 과목 조건 검색 리스트 -->
	<select id="selectFilteredSubList" parameterType="SearchSubject" resultMap="profSubList">
		SELECT A.SUB_YEAR, A.SUB_SMST, A.SUB_CODE, B.DEPT_TITLE, A.SUB_DIVS, A.SUB_TITLE, A.SUB_CREDIT, A.SUB_TYPE, C.PROF_NAME
		FROM SUBJECT A
		JOIN DEPARTMENT B ON A.DEPT_CODE=B.DEPT_CODE 
		JOIN PROFESSOR C ON A.PROF_ID=C.PROF_ID
		WHERE A.PROF_ID=#{profId}
		<choose>
			<when test='con1 == 0 and con2 == 0 and keyword == "%"'>
			</when>
			<when test='con1 != 0 and con2 == 0 and keyword == "%"'>
				AND SUB_YEAR=#{con1}
			</when>
			<when test='con1 == 0 and con2 != 0 and keyword == "%"'>
				AND SUB_SMST=#{con2}
			</when>
			<when test='con1 == 0 and con2 == 0 and keyword != "%"'>
				AND SUB_TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test='con1 != 0 and con2 != 0 and keyword == "%"'>
				AND SUB_YEAR=#{con1}
				AND SUB_SMST=#{con2}
			</when>
			<when test='con1 != 0 and con2 == 0 and keyword != "%"'>
				AND SUB_YEAR=#{con1}
				AND SUB_TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test='con1 == 0 and con2 != 0 and keyword != "%"'>
				AND SUB_SMST=#{con2}
				AND SUB_TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test='con1 != 0 and con2 != 0 and keyword != "%"'>
				AND SUB_YEAR=#{con1}
				AND SUB_SMST=#{con2}
				AND SUB_TITLE LIKE '%'||#{keyword}||'%'
			</when>
		</choose>
		ORDER BY SUB_YEAR DESC, SUB_SMST DESC
	</select>
	
	<!-- 학과명, 교수명 과목객체에 추가해야함. -->
	<!-- 교수, 학년도, 학기별 과목 조회 -->
	<select id="loadSubList" parameterType="Subject" resultMap="profSubList">
		SELECT SUB_CODE, DEPT_CODE, SUB_DIVS, SUB_TITLE, SUB_CREDIT, SUB_TYPE, PROF_ID
		FROM SUBJECT
		<!-- JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN PROFESSOR USING(PROF_ID) -->
		WHERE PROF_ID=#{profId} AND SUB_YEAR=#{gradeYear} AND SUB_SMST=${gradeSemester}
	</select>
	
	
	<!-- 과목, 학년도, 학기별 성적 조회 -->
	<select id="selectFilteredGrade" parameterType="SearchGrade" resultMap="gradeResultSet">
		SELECT D.DEPT_TITLE, A.STU_ID, C.STU_NAME, C.STU_STATUS, A.ATTENDANCE, A.ASSIGNMENT, A.MIDEXAM, 
				A.FINEXAM, (A.ATTENDANCE + A.ASSIGNMENT + A.MIDEXAM + A.FINEXAM) AS GRADE_TOTAL,
				A.GRADE_RESULT, A.GRADE_CREDIT, E.SUB_CODE, A.GRADE_YEAR, A.GRADE_SEMESTER, A.GRADE_NO
		FROM GRADE A 
		LEFT JOIN LECT_REGISTER B ON A.SUB_CODE=B.SUB_CODE
		JOIN STUDENT C ON A.STU_ID=C.STU_ID AND B.STU_ID=C.STU_ID
		LEFT JOIN DEPARTMENT D ON C.DEPT_CODE=D.DEPT_CODE
		LEFT JOIN SUBJECT E ON A.SUB_CODE=E.SUB_CODE AND B.SUB_CODE=E.SUB_CODE
		WHERE SUB_CODE=#{subCode} AND GRADE_YEAR=#{gradeYear} AND GRADE_SEMESTER=${gradeSemester} 
		AND B.YEAR=#{gradeYear} AND B.SEMESTER=${gradeSemester}
		ORDER BY STU_ID DESC
	</select>
	
	<!-- 성적 수정 -->
	<update id="updateGrade" parameterType="Grade">
	<!-- 쿼리문 잘돌아감. -->
		UPDATE GRADE 
		SET ATTENDANCE=#{attendance}, ASSIGNMENT=#{assignment}, MIDEXAM=#{midExam}, FINEXAM=#{finExam}
		WHERE STU_ID=#{studentId} AND SUB_CODE=#{subCode} 
		AND GRADE_YEAR=#{gradeYear} AND GRADE_SEMESTER=${gradeSemester}
	</update>
	
	
	<select id="selectListCount" parameterType="_int" resultMap="gradeResultSet">
		SELECT COUNT(*)
		FROM GRADE
		<!-- JOIN LECT_REGISTER USING(SUB_CODE)
		WHERE SUB_CODE=#{subCode} AND GRADE_YEAR=#{gradeYear} AND GRADE_SEMESTER=${gradeSemester} -->
	</select>


	<update id="increaseCount" parameterType="_int">
		UPDATE GRADE
		SET COUNT = COUNT + 1
		WHERE GRADE_NO=#{gradeNo}
	</update>
	
	<select id="selectGrade" parameterType="_int" resultMap="gradeResultSet">
		SELECT *
		FROM GRADE
		WHERE GRADE_NO={gradeNo}
	</select>
	
	<!-- 수강신청시 학생정보 INSERT -->
	<insert id="gradeInsert" parameterType="Grade">
		INSERT INTO GRADE(GRADE_NO, STU_ID, SUB_CODE, GRADE_YEAR, GRADE_SEMESTER)
		VALUES(SEQ_GRADE_NO.NEXTVAL, #{studentId}, #{subCode}, #{gradeYear}, #{gradeSemester})
	</insert>
	<!-- 수강취소시 학생정보 DELETE -->
	<delete id="gradeDelete" parameterType="Grade">
		DELETE FROM GRADE
		WHERE STU_ID=#{studentId} AND SUB_CODE=#{subCode} 
		AND GRADE_YEAR=#{gradeYear} AND GRADE_SEMESTER=#{gradeSemester}
	</delete>
	
	<!-- 이의신청 확인 -->
	<select id="objListCount" resultType="_int">
		SELECT COUNT(*)
		FROM GRA_OBJECT A
		JOIN STUDENT B ON A.STU_ID=B.STU_ID
		JOIN GRADE C ON A.GRADE_NO=C.GRADE_NO
		JOIN SUBJECT D ON D.SUB_CODE=C.SUB_CODE
		WHERE D.PROF_ID=#{profId}
		
	</select>
	<select id="loadObjList" parameterType="GradeObject" resultMap="objectionResultSet">
		SELECT A.GRA_OBJ_NO, B.STU_NAME, A.TITLE, A.GRA_OBJ_DATE, A.STATUS
		FROM GRA_OBJECT A
		JOIN STUDENT B ON A.STU_ID=B.STU_ID
		JOIN GRADE C ON A.GRADE_NO=C.GRADE_NO
		JOIN SUBJECT D ON D.SUB_CODE=C.SUB_CODE
		WHERE D.PROF_ID=#{profId}
		ORDER BY GRA_OBJ_NO DESC
	</select>
	
	<!-- 이의신청 상세 -->
	<select id="detailObjection" resultType="GradeObject" resultMap="objectionResultSet">
		SELECT *
		FROM GRA_OBJECT
		JOIN STUDENT USING(STU_ID)
		WHERE GRA_OBJ_NO=#{objNo}
	</select>
	
	<!-- 이의신청 승인/반려 -->
	<update id="profObjCheck" parameterType="GradeObject">
		UPDATE GRA_OBJECT
		SET STATUS=#{status}, REASON=#{reason, jdbcType=VARCHAR}
		WHERE GRA_OBJ_NO=#{objNo}
	</update>

</mapper>