<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lectRegisterMapper">

	<resultMap id="professorSet" type="Professor">
		<id property="profId" column="PROF_ID" />
		<result property="profPwd" column="PROF_PWD" />
		<result property="profName" column="PROF_NAME" />
		<result property="profDept" column="DEPT_CODE" />
		<result property="profRrn" column="PROF_RRN" />
		<result property="profEmail" column="PROF_EMAIL" />
		<result property="profPhone" column="PROF_PHONE" />
		<result property="profAddress" column="PROF_ADDRESS" />
		<result property="profStatus" column="PROF_STATUS" />
		<result property="profEmpdate" column="PROF_EMPDATE" />
	</resultMap>
	<resultMap id="LectAttachmentSet" type="LectAttachment">
		<id property="subCode" column="SUB_CODE" />
		<result property="originName" column="ORIGIN_NAME" />
		<result property="changeName" column="CHANGE_NAME" />
	</resultMap>
	<resultMap id="subjectListSet" type="Subject">
		<id property="subCode" column="SUB_CODE" />
		<result property="subTitle" column="SUB_TITLE" />
		<result property="deptCode" column="DEPT_CODE" />
		<result property="subDivs" column="SUB_DIVS" />
		<result property="profId" column="PROF_ID" />
		<result property="subCredit" column="SUB_CREDIT" />
		<result property="subClass" column="SUB_CLASS" />
		<result property="subTime" column="SUB_TIME" />
		<result property="subType" column="SUB_TYPE" />
		<result property="subYear" column="SUB_YEAR" />
		<result property="subSmst" column="SUB_SMST" />
		<result property="status" column="STATUS" />
	</resultMap>
	
	<resultMap id="LecRegProListSet" type="LecRegPro">
		<id property="evaluation" column="SCORE" />
		<collection property="subject" resultMap="subjectListSet"/>
		<collection property="professor" resultMap="professorSet"/>
		<collection property="department" resultMap="departListSet"/>
		<collection property="attachment" resultMap="LectAttachmentSet"/>
	</resultMap>
	
	<resultMap id="LecRegProListSet2" type="LecRegPro">
		<collection property="subject" resultMap="subjectListSet"/>
		<collection property="professor" resultMap="professorSet"/>
		<collection property="lectRegister" resultMap="RegisterResultSet"/>
		<collection property="department" resultMap="departListSet"/>
	</resultMap>
	
	<resultMap id="departListSet" type="Department">
		<id property="deptCode" column="DEPT_CODE" />
		<result property="deptTitle" column="DEPT_TITLE" />
	</resultMap>
	
	<resultMap id="RegisterResultSet" type="LectRegister">
		<id property="regNo" column="LECT_REG_NO" />
		<result property="subCode" column="SUB_CODE" />
		<result property="stuId" column="STU_ID" />
		<result property="year" column="YEAR" />
		<result property="semester" column="SEMESTER" />
		<result property="status" column="STATUS" />
	</resultMap>
	


	<select id="lectReListCount" resultType="_int">
		SELECT COUNT(*)
		FROM SUBJECT
		WHERE STATUS ='Y'
	</select>
	<select id="lectReList" resultMap="LecRegProListSet">
		SELECT A.SUB_CODE, A.SUB_TITLE, C.DEPT_TITLE, A.SUB_DIVS, A.SUB_CREDIT, A.SUB_TIME, B.PROF_NAME
		FROM SUBJECT A
		JOIN PROFESSOR B ON A.PROF_ID=B.PROF_ID
		JOIN DEPARTMENT C ON A.DEPT_CODE=C.DEPT_CODE
		WHERE A.STATUS = 'Y'
		ORDER BY A.SUB_CODE DESC
	</select>
	<select id="departList" resultMap="departListSet">
		SELECT *
		FROM DEPARTMENT
		ORDER BY DEPT_CODE
	</select>
	<select id="selectRegisterList" parameterType="_int" resultMap="LecRegProListSet2">
		SELECT *
		FROM LECT_REGISTER A
		LEFT JOIN SUBJECT B ON A.SUB_CODE=B.SUB_CODE
		LEFT JOIN PROFESSOR C ON B.PROF_ID=C.PROF_ID
		LEFT JOIN DEPARTMENT D ON B.DEPT_CODE=D.DEPT_CODE
		WHERE A.STU_ID=#{stuId} AND A.STATUS='Y'
	</select>
	<select id="lectReDetail"  parameterType="string" resultMap="LecRegProListSet">
		SELECT A.*, B.PROF_ID, B.PROF_NAME, C.DEPT_CODE, C.DEPT_TITLE, D.ORIGIN_NAME, D.CHANGE_NAME, Q.*
		FROM SUBJECT A
		LEFT JOIN PROFESSOR B ON A.PROF_ID=B.PROF_ID
		LEFT JOIN DEPARTMENT C ON A.DEPT_CODE=C.DEPT_CODE
		LEFT JOIN LECT_ATTACHMENT D ON A.SUB_CODE=D.SUB_CODE
		left join (SELECT s.SUB_CODE, avg(le.SCORE) as "SCORE"
                FROM SUBJECT s
                JOIN LECT_REGISTER lr ON s.SUB_CODE=lr.SUB_CODE
                JOIN LECT_EVALUATE le ON lr.LECT_REG_NO=le.LECT_REG_NO
                group by s.SUB_CODE)Q on A.SUB_CODE=Q.SUB_CODE
		WHERE A.SUB_CODE=#{subCode} AND A.STATUS = 'Y'
	</select>
	<insert id="regiInsert" parameterType="LectRegister">
		INSERT INTO LECT_REGISTER
		values(SEQ_LECT_REG_NO.NEXTVAL, #{subCode}, #{stuId}, #{year}, #{semester}, default)
	</insert>
	<update id="registerDelete" parameterType="LectRegister">
		UPDATE LECT_REGISTER
		SET STATUS='N'
		WHERE SUB_CODE=#{subCode} AND STU_ID=#{stuId} AND YEAR=#{year} AND SEMESTER=#{semester}
	</update>
	<select id="searchListCount" resultType="_int" parameterType="SearchReg">
		SELECT COUNT(*)
		FROM SUBJECT
		WHERE STATUS ='Y'
		<choose>
			<when test='condition1 == 0 and condition2 == 0 and search=="%"'>
			</when>
			<when test='condition1 != 0 and condition2 == 0 and search=="%"'>
			 	AND SUB_DIVS=#{condition1}
			</when>
			<when test='condition1 == 0 and condition2 != 0 and search=="%"'>
				AND DEPT_CODE=#{condition2}
			</when>
			<when test='condition1 == 0 and condition2 == 0 and search!="%"'>
				AND SUB_TITLE LIKE '%'|| #{search} ||'%'
			</when>
			<when test='condition1 != 0 and condition2 != 0 and search=="%"'>
				AND SUB_DIVS=#{condition1}
				AND DEPT_CODE=#{condition2}
			</when>
			<when test='condition1 == 0 and condition2 != 0 and search!="%"'>
				AND DEPT_CODE=#{condition2}
				AND SUB_TITLE LIKE '%'|| #{search} ||'%'
			</when>
			<when test='condition1 != 0 and condition2 == 0 and search!="%"'>
				AND SUB_DIVS=#{condition1}
				AND SUB_TITLE LIKE '%'|| #{search} ||'%'
			</when>
			<when test='condition1 != 0 and condition2 != 0 and search!="%"'>
				AND SUB_DIVS=#{condition1}
				AND DEPT_CODE=#{condition2}
				AND SUB_TITLE LIKE '%'|| #{search} ||'%'
			</when>
		</choose>
	</select>
	
	<select id="searchLectReList" parameterType="SearchReg" resultMap="LecRegProListSet">
		SELECT A.SUB_CODE, A.SUB_TITLE, C.DEPT_TITLE, A.SUB_DIVS, A.SUB_CREDIT, A.SUB_TIME, B.PROF_NAME
		FROM SUBJECT A
		JOIN PROFESSOR B ON A.PROF_ID=B.PROF_ID
		JOIN DEPARTMENT C ON A.DEPT_CODE=C.DEPT_CODE
		WHERE A.STATUS = 'Y'
		<choose>
			<when test='condition1 == 0 and condition2 == 0 and search=="%"'>
			</when>
			<when test='condition1 != 0 and condition2 == 0 and search=="%"'>
			 	AND A.SUB_DIVS=#{condition1}
			</when>
			<when test='condition1 == 0 and condition2 != 0 and search=="%"'>
				AND A.DEPT_CODE=#{condition2}
			</when>
			<when test='condition1 == 0 and condition2 == 0 and search!="%"'>
				AND A.SUB_TITLE LIKE '%'|| #{search} ||'%'
			</when>
			<when test='condition1 != 0 and condition2 != 0 and search=="%"'>
				AND A.SUB_DIVS=#{condition1}
				AND A.DEPT_CODE=#{condition2}
			</when>
			<when test='condition1 == 0 and condition2 != 0 and search!="%"'>
				AND A.DEPT_CODE=#{condition2}
				AND A.SUB_TITLE LIKE '%'|| #{search} ||'%'
			</when>
			<when test='condition1 != 0 and condition2 == 0 and search!="%"'>
				AND A.SUB_DIVS=#{condition1}
				AND A.SUB_TITLE LIKE '%'|| #{search} ||'%'
			</when>
			<when test='condition1 != 0 and condition2 != 0 and search!="%"'>
				AND A.SUB_DIVS=#{condition1}
				AND A.DEPT_CODE=#{condition2}
				AND A.SUB_TITLE LIKE '%'|| #{search} ||'%'
			</when>
		</choose>
		ORDER BY A.SUB_CODE DESC
	</select>
	<select id="checkRegister" parameterType="LectRegister" resultMap="RegisterResultSet">
		SELECT *
		FROM LECT_REGISTER
		WHERE SUB_CODE=#{subCode} AND STU_ID=#{stuId} AND YEAR=#{year} AND SEMESTER=#{semester} AND STATUS='Y'
	</select>
	<select id="checkCredit" parameterType="LectRegister" resultType="Integer">
		SELECT SUM(B.SUB_CREDIT)
		FROM LECT_REGISTER A
		JOIN SUBJECT B ON A.SUB_CODE=B.SUB_CODE
		WHERE A.STU_ID=#{stuId} AND A.YEAR=#{year} AND A.SEMESTER=#{semester} AND A.STATUS='Y'
	</select>
	<select id="selectRegiCartsterList" parameterType="_int" resultMap="LecRegProListSet2">
		SELECT B.SUB_CODE, B.SUB_TITLE, D.DEPT_TITLE, B.SUB_DIVS, B.SUB_CREDIT, B.SUB_TIME, C.PROF_NAME
		FROM LECT_CART A
		JOIN SUBJECT B ON A.SUB_CODE=B.SUB_CODE
		JOIN PROFESSOR C ON B.PROF_ID=C.PROF_ID
		JOIN DEPARTMENT D ON B.DEPT_CODE=D.DEPT_CODE
		WHERE A.STU_ID=#{stuId} AND A.STATUS='Y'
	</select>
	<insert id="regiInsertCart" parameterType="LectRegister">
		INSERT INTO LECT_CART
		values(SEQ_LECT_CART_NO.NEXTVAL, #{subCode}, #{stuId}, #{year}, #{semester}, default)
	</insert>
	<select id="checkRegisterCart" parameterType="LectRegister" resultMap="RegisterResultSet">
		SELECT *
		FROM LECT_CART
		WHERE SUB_CODE=#{subCode} AND STU_ID=#{stuId} AND YEAR=#{year} AND SEMESTER=#{semester} AND STATUS='Y'
	</select>
	<update id="registerDeleteCart" parameterType="LectRegister">
		UPDATE LECT_CART
		SET STATUS='N'
		WHERE SUB_CODE=#{subCode} AND STU_ID=#{stuId} AND YEAR=#{year} AND SEMESTER=#{semester}
	</update>
	<select id="timeBoardList" parameterType="LectRegister" resultMap="LecRegProListSet">
		SELECT *
		FROM LECT_REGISTER A
		JOIN SUBJECT B ON A.SUB_CODE=B.SUB_CODE
		WHERE A.STU_ID=#{stuId} AND A.YEAR=#{year} AND A.SEMESTER=#{semester} AND A.STATUS='Y'
	</select>
	<update id="InsertCredit" parameterType="LectRegister">
		UPDATE STUDENT C
		SET C.STU_CREDIT=C.STU_CREDIT+(SELECT a.SUB_CREDIT
									FROM SUBJECT a
									JOIN LECT_REGISTER B ON A.SUB_CODE=B.SUB_CODE
									WHERE b.SUB_CODE=#{subCode} AND b.STU_ID=#{stuId} AND b.YEAR=#{year} AND b.SEMESTER=#{semester})
		WHERE C.STU_ID=#{stuId}
	</update>
	<update id="deleteCredit" parameterType="LectRegister">
		UPDATE STUDENT C
		SET C.STU_CREDIT=C.STU_CREDIT-(SELECT a.SUB_CREDIT
									FROM SUBJECT a
									JOIN LECT_REGISTER B ON A.SUB_CODE=B.SUB_CODE
									WHERE b.SUB_CODE=#{subCode} AND b.STU_ID=#{stuId} AND b.YEAR=#{year} AND b.SEMESTER=#{semester})
		WHERE C.STU_ID=#{stuId}
	</update>
	<select id="proList" resultMap="professorSet">
		SELECT PROF_NAME, PROF_ID
		FROM PROFESSOR
		WHERE PROF_STATUS='Y'
		ORDER BY PROF_NAME
	</select>
</mapper>
