<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="majorMapper">

	<resultMap id="reqSubjectResultSet" type="RequestedSubject">
		<id property="reqSubNo" column="REQSUB_NO"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
		<result property="subDivs" column="SUB_DIVS"/>
		<result property="subType" column="SUB_TYPE"/>
		<result property="subTitle" column="SUB_TITLE"/>
		<result property="profId" column="PROF_ID"/>
		<result property="profName" column="PROF_NAME"/>
		<result property="subCredit" column="SUB_CREDIT"/>
		<result property="subTime" column="SUB_TIME"/>
		<result property="reqType" column="REQ_TYPE"/>
		<result property="status" column="STATUS"/>
   		<result property="attOrigin" column="ATT_ORIGIN"/>
		<result property="attChange" column="ATT_CHANGE"/>
		<result property="subCode" column="SUB_CODE"/>
	</resultMap>
	
	<resultMap id="subjectResultSet" type="Subject">
		<id property="subCode" column="SUB_CODE"/>
		<result property="subTitle" column="SUB_TITLE"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
		<result property="subDivs" column="SUB_DIVS"/>
		<result property="profId" column="PROF_ID"/>
		<result property="profName" column="PROF_NAME"/>
		<result property="subCredit" column="SUB_CREDIT"/>
		<result property="subClass" column="SUB_CLASS"/>
		<result property="subTime" column="SUB_TIME"/>
		<result property="subType" column="SUB_TYPE"/>
		<result property="subYear" column="SUB_YEAR"/>
		<result property="subSmst" column="SUB_SMST"/>
		<result property="status" column="STATUS"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>
	
	<resultMap id="lectEvaluationResultSet" type="LectEvaluation">
		<id property="lectEvaNo" column="LECT_EVA_NO"/>
		<result property="lectRegNum" column="LECT_REG_NO"/>
		<result property="stuId" column="STU_ID"/>
		<result property="question" column="QUESTION"/>
		<result property="score" column="SCORE"/>
		<result property="year" column="YEAR"/>
		<result property="semester" column="SEMESTER"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<select id="subjectModifyListCount" resultType="_int">
		SELECT COUNT (*)
		FROM REQ_SUBJECT
		WHERE STATUS = 'N'
	</select>
	
	<select id="subjectModifyList" resultMap="reqSubjectResultSet">
		SELECT A.REQSUB_NO, A.DEPT_CODE, B.DEPT_TITLE, A.SUB_DIVS, A.SUB_TYPE, A.SUB_TITLE, C.PROF_NAME, A.SUB_CREDIT, A.SUB_TIME, A.REQ_TYPE, A.STATUS, A.SUB_CODE
		FROM REQ_SUBJECT A
		LEFT JOIN DEPARTMENT B ON A.DEPT_CODE=B.DEPT_CODE
		LEFT JOIN PROFESSOR C USING (PROF_ID)
		WHERE STATUS = 'N'
		ORDER BY REQSUB_NO DESC
	</select>
		
	<select id="selectSubjectModify" resultType="_int" resultMap="reqSubjectResultSet">
		SELECT A.SUB_CODE, A.REQSUB_NO, A.DEPT_CODE, B.DEPT_TITLE, A.SUB_DIVS, A.SUB_TYPE, A.SUB_TITLE, C.PROF_ID, C.PROF_NAME, A.SUB_CREDIT, A.SUB_TIME, A.REQ_TYPE, A.STATUS, A.ATT_ORIGIN, A.ATT_CHANGE
		FROM REQ_SUBJECT A
		JOIN DEPARTMENT B ON A.DEPT_CODE=B.DEPT_CODE
		JOIN PROFESSOR C ON A.PROF_ID=C.PROF_ID
		WHERE REQSUB_NO= #{sno}
		AND STATUS= 'N'
	</select>
	
	<insert id="createSubject" parameterType="Subject">
		INSERT INTO SUBJECT
		VALUES (#{subCode}, #{subTitle}, #{deptCode}, #{subDivs}, #{profId}, #{subCredit}, #{subClass}, #{subTime}, #{subType}, #{subYear}, #{subSmst}, default, #{originName}, #{changeName})
	</insert>
	
	<update id="createRequestSubject" parameterType="RequestedSubject">
		UPDATE REQ_SUBJECT
		SET STATUS = 'Y'
		WHERE REQSUB_NO= #{reqSubNo}
	</update>
	
	<update id="modifySubject" parameterType="Subject">
		UPDATE SUBJECT
		SET SUB_TITLE=#{subTitle}, DEPT_CODE=#{deptCode}, SUB_DIVS=#{subDivs}, PROF_ID=#{profId}, SUB_CREDIT=#{subCredit},
			SUB_CLASS=#{subClass}, SUB_TIME=#{subTime}, SUB_TYPE=#{subType}, SUB_YEAR=#{subYear}, SUB_SMST=#{subSmst}, 
			ORIGIN_NAME=#{originName}, CHANGE_NAME=#{changeName}
		WHERE SUB_CODE= #{subCode}
	</update>
	
	<update id="modifyRequestedSubject" parameterType="RequestedSubject">
		UPDATE REQ_SUBJECT
		SET STATUS = 'Y'
		WHERE SUB_CODE= #{subCode}
	</update>
	
	<update id="deleteSubject" parameterType="Subject">
		UPDATE SUBJECT
		SET STATUS = 'N'
		WHERE SUB_CODE= #{subCode}
	</update>
	
	<update id="deleteRequestedSubject" parameterType="RequestedSubject">
		UPDATE REQ_SUBJECT
		SET STATUS = 'Y'
		WHERE SUB_CODE= #{subCode}
	</update>
	
	<select id="subAllListCount" resultType="_int">
		SELECT COUNT (*)
		FROM SUBJECT
		WHERE STATUS = 'Y'
	</select>
	
	<select id="subAllList" resultMap="subjectResultSet">
		SELECT A.SUB_CODE, A.DEPT_CODE, B.DEPT_TITLE, A.SUB_DIVS, A.SUB_TYPE, A.SUB_TITLE, A.PROF_ID, C.PROF_NAME, A.SUB_CREDIT, A.SUB_CLASS, A.SUB_TIME, A.SUB_YEAR, A.SUB_SMST, A.STATUS, A.ORIGIN_NAME
		FROM SUBJECT A
		JOIN DEPARTMENT B ON A.DEPT_CODE=B.DEPT_CODE
		JOIN PROFESSOR C ON A.PROF_ID=C.PROF_ID
		WHERE A.STATUS = 'Y'
		ORDER BY A.SUB_CODE DESC
	</select>
	
	<insert id="createQuestion" parameterType="LectEvaluation">
		<![CDATA[
		MERGE INTO LECT_EVALUATE C
		USING (SELECT 
		            B.LECT_REG_NO AS LECT_REG_NO
		            , B.STU_ID AS STU_ID
		            , B.YEAR AS YEAR
		            , B.SEMESTER AS SEMESTER
		        FROM LECT_REGISTER B
		        WHERE 1=1) D
		    ON (C.LECT_REG_NO = D.LECT_REG_NO
		        AND C.STU_ID = D.STU_ID
		        AND QUESTION = QUESTION
		        AND (TO_CHAR(SYSDATE, 'YYYY')) <> D.YEAR)
		    WHEN NOT MATCHED THEN
		INSERT (LECT_EVA_NO, LECT_REG_NO, STU_ID, QUESTION, YEAR, SEMESTER, STATUS)
		VALUES (SEQ_LECT_EVA_NO.NEXTVAL, D.LECT_REG_NO, D.STU_ID, #{question}, D.YEAR, D.SEMESTER, DEFAULT)
		]]>
	</insert>
	
	<select id="selectEvQList" resultMap="lectEvaluationResultSet">
		SELECT DISTINCT QUESTION, LECT_EVA_NO, LECT_REG_NO, STU_ID, SCORE, YEAR, SEMESTER, STATUS
		FROM LECT_EVALUATE
	</select>
	<!-- join where -->
	
</mapper>