<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="adminResultSet" type="Admin">
		<id property="admId" column="ADM_ID"/>
		<result property="admPwd" column="ADM_PWD"/>	
	</resultMap>
	
	<resultMap id="studentResultSet" type="Student">
		<id property="stuId" column="STU_ID"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_TITLE"/><!--  -->
		<result property="profId" column="PROF_ID"/>
		<result property="proName" column="PROF_NAME"/>
		<result property="profStatus" column="PROF_STATUS"/>
		<result property="stuPwd" column="STU_PWD"/>
		<result property="stuName" column="STU_NAME"/>
		<result property="ssn" column="SSN"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="stuCredit" column="STU_CREDIT"/>
		<result property="graduationDate" column="GRADUATION_DATE"/>
		<result property="addmissionDate" column="ADDMISSION_DATE"/>
		<result property="stuStatus" column="STU_STATUS"/>	
	</resultMap>
	
	<resultMap id="professorResultSet" type="Professor">
		<id property="profId" column="PROF_ID"/>
		<result property="profPwd" column="PROF_PWD"/>
		<result property="profName" column="PROF_NAME"/>
		<result property="profDept" column="DEPT_CODE"/>
		<result property="profDeptTitle" column="DEPT_TITLE"/><!--  -->
		<result property="profRrn" column="PROF_RRN"/>
		<result property="profEmail" column="PROF_EMAIL"/>
		<result property="profPhone" column="PROF_PHONE"/>
		<result property="profAddress" column="PROF_ADDRESS"/>
		<result property="profStatus" column="PROF_STATUS"/>
		<result property="profEmpdate" column="PROF_EMPDATE"/>
	</resultMap>
	
	<resultMap id="studentStatusResultSet" type="StudentStatus">
		<id property="stsNo" column="STS_NO"/>
		<result property="stsProcess" column="STS_PROCESS"/>
		<result property="stsCategory" column="STS_CATEGORY"/>
		<result property="stsComplete" column="STS_COMPLETE"/>
		<result property="status" column="STATUS"/>
		<result property="applicationNo" column="APPLICATION_NO_OFF"/>
		<result property="applicationNo" column="APPLICATION_NO_DO"/>
		<result property="stuId" column="STU_ID"/>
		<result property="stuName" column="STU_NAME"/>
		<result property="profId" column="PROF_ID"/>
		<result property="profName" column="PROF_NAME"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
		<result property="offCategory" column="OFF_CATEGORY"/>
		<result property="offDate" column="OFF_DATE"/>
		<result property="offSemCnt" column="OFF_SEM_CNT"/>
		<result property="offSem" column="OFF_SEM"/>
	</resultMap>
	
	<resultMap id="studentOffResultSet" type="StudentOff">
		<result property="applicationNo" column="APPLICATION_NO"/>
		<result property="stuId" column="STU_ID"/>
		<result property="offCategory" column="OFF_CATEGORY"/>
		<result property="offDate" column="OFF_DATE"/>
		<result property="offSemCnt" column="OFF_SEM_CNT"/>
		<result property="offSem" column="OFF_SEM"/>
		<result property="offReason" column="OFF_REASON"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="studentDoResultMap" type="StudentDo">
		<result property="applicationNo" column="APPLICATION_NO"/>
		<result property="stuId" column="STU_ID"/>
		<result property="doDate" column="DO_DATE" javaType="java.sql.Date"/>
		<result property="doReason" column="DO_REASON"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="departmentResultSet" type="Department">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
	</resultMap>
	
	
	<select id="loginAdmin" parameterType="Admin" resultMap="adminResultSet">
		SELECT * FROM ADMIN
		WHERE ADM_ID = #{admId}
	</select>
	
	<select id="loginStudent" parameterType="Student" resultMap="studentResultSet">
		SELECT * FROM STUDENT
		WHERE STU_ID = #{stuId}
	</select>
	
	<select id="loginProfessor" parameterType="Professor" resultMap="professorResultSet">
		SELECT A.*, B.DEPT_TITLE 
		FROM PROFESSOR A
		JOIN DEPARTMENT B ON A.DEPT_CODE=B.DEPT_CODE
		WHERE PROF_ID = #{profId}
	</select>
	
	

	<insert id="insertStudent" parameterType="Student">
		INSERT INTO STUDENT
		VALUES (#{stuId}, #{deptCode}, #{profId}, #{stuPwd}, #{stuName}, #{ssn}, #{email}, #{phone}, #{address}, #{stuCredit}, #{graduationDate}, sysdate, '재학')
	</insert>
	
	<insert id="insertProfessor" parameterType="Professor">
		INSERT INTO PROFESSOR
		VALUES (#{profId}, #{profPwd}, #{profName}, #{profDept}, #{profRrn}, #{profEmail}, #{profPhone}, #{profAddress}, default, sysdate)
	</insert>
	
	<select id="studentListCount" resultType="_int">
		SELECT COUNT (*)
		FROM STUDENT
		
	</select>
	
	<select id="studentList" resultMap="studentResultSet">
		SELECT A.STU_ID, B.DEPT_TITLE, C.PROF_NAME, C.PROF_STATUS, A.STU_NAME, A.EMAIL, A.PHONE, A.STU_STATUS
		FROM STUDENT A
		LEFT JOIN DEPARTMENT B USING (DEPT_CODE)
		LEFT JOIN PROFESSOR C USING (PROF_ID)
		ORDER BY STU_ID DESC
	</select>
	
	<select id="professorListCount" resultType="_int">
		SELECT COUNT (*)
		FROM PROFESSOR
	</select>
	
	<select id="professorList" resultMap="professorResultSet">
		SELECT A.PROF_ID, A.PROF_NAME, B.DEPT_TITLE, A.PROF_EMAIL, A.PROF_PHONE, A.PROF_STATUS, A.PROF_EMPDATE
		FROM PROFESSOR A
		LEFT JOIN DEPARTMENT B USING (DEPT_CODE)
		ORDER BY A.PROF_ID DESC
	</select>
	
	<update id="deleteStudent" parameterType="_int">
		UPDATE STUDENT
		SET STU_STATUS = '퇴학'
		WHERE STU_ID = #{stuId}
	</update>
	
	<update id="deleteProfessor" parameterType="string">
		UPDATE PROFESSOR
		SET PROF_STATUS = 'N'
		WHERE PROF_ID = #{profId}
	</update>
	
	<!-- <update id="deleteStuPrf" parameterType="_int">
		UPDATE STUDENT
		SET PROF_ID
		WHERE PROF_ID = #{profId}
	</update> -->
	 
	<select id="studentStatusListCount" resultType="_int">
		SELECT COUNT (*)
		FROM STU_OFF
	</select>
	
	
	<select id="studentStatusList" resultMap="studentStatusResultSet">
		SELECT B.STU_ID, A.*, D.DEPT_CODE, D.DEPT_TITLE, E.PROF_ID, E.PROF_NAME, C.STU_NAME
		FROM STU_STATUS_PRO A
		LEFT JOIN STU_DO B ON (A.APPLICATION_NO_DO = B.APPLICATION_NO)
		LEFT JOIN STUDENT C ON (C.STU_ID = B.STU_ID)
		LEFT JOIN DEPARTMENT D ON (D.DEPT_CODE = C.DEPT_CODE)
		LEFT JOIN PROFESSOR E ON (E.PROF_ID = C.PROF_ID)
		WHERE STS_PROCESS = '관리자승인대기'
		AND STS_NO = APPLICATION_NO
		ORDER BY A.STS_NO DESC
	</select>
	
	<update id="studentStatusUpdate" parameterType="_int">
		UPDATE STU_STATUS_PRO
		SET STS_PROCESS = '승인완료', STS_COMPLETE = '완료'
		WHERE STS_NO = #{stsNo}
	</update>
	
	<update id="stuDoUpdateStu" parameterType="_int">
		UPDATE STUDENT
		SET STU_STATUS = '자퇴'
		WHERE STU_ID = #{stuId}
	</update>
	
	<select id="studentOffStaList" resultMap="studentStatusResultSet">
		SELECT B.STU_ID, A.*, D.DEPT_CODE, D.DEPT_TITLE, E.PROF_ID, E.PROF_NAME, C.STU_NAME, B.OFF_CATEGORY, B.OFF_DATE, B.OFF_SEM_CNT, B.OFF_SEM
		FROM STU_STATUS_PRO A
		LEFT JOIN STU_OFF B ON (A.APPLICATION_NO_OFF = B.APPLICATION_NO)
		LEFT JOIN STUDENT C ON (C.STU_ID = B.STU_ID)
		LEFT JOIN DEPARTMENT D ON (D.DEPT_CODE = C.DEPT_CODE)
		LEFT JOIN PROFESSOR E ON (E.PROF_ID = C.PROF_ID)
		WHERE STS_PROCESS = '승인완료' AND STS_COMPLETE = '완료' AND C.STU_STATUS = '휴학' AND STS_NO = APPLICATION_NO
		UNION
		SELECT B.STU_ID, A.*, D.DEPT_CODE, D.DEPT_TITLE, E.PROF_ID, E.PROF_NAME, C.STU_NAME, B.OFF_CATEGORY, B.OFF_DATE, B.OFF_SEM_CNT, B.OFF_SEM
		FROM STU_STATUS_PRO A
		LEFT JOIN STU_OFF B ON (A.APPLICATION_NO_OFF = B.APPLICATION_NO)
		LEFT JOIN STUDENT C ON (C.STU_ID = B.STU_ID)
		LEFT JOIN DEPARTMENT D ON (D.DEPT_CODE = C.DEPT_CODE)
		LEFT JOIN PROFESSOR E ON (E.PROF_ID = C.PROF_ID)
		WHERE STS_PROCESS = '관리자승인대기' AND STS_NO = APPLICATION_NO
	</select>
	
	<update id="stuOffStaUpdate" parameterType="_int">
		UPDATE STU_STATUS_PRO
		SET STS_PROCESS = '승인완료', STS_COMPLETE = '완료'
		WHERE STS_NO = #{stsNo}
	</update>
		
	<update id="stuOffUpdate" parameterType="_int">
		UPDATE STUDENT
		SET STU_STATUS = '휴학'
		WHERE STU_ID = #{stuId}
	</update>
	
	<!-- <update id="stuOnStaUpdate" parameterType="_int">
		UPDATE STU_STATUS_PRO
		SET STS_COMPLETE = '완료'
		WHERE STS_NO = #{stsNo}
	</update> -->
	<!-- STS_PROCESS = '승인완료', STS_COMPLETE = '완료' -->
	
	<update id="stuOnUpdate" parameterType="_int">
		UPDATE STUDENT
		SET STU_STATUS = '재학'
		WHERE STU_ID = #{stuId}
	</update>
	
	<!-- <update id="studentUpdatePrf" parameterType="_int">
		
	</update> -->
	
	<select id="studentUpdate" resultType="_int" resultMap="studentResultSet">
		SELECT *
		FROM STUDENT
		WHERE STU_ID = #{stuId}
	</select>
	
	<update id="studentUpdateProfId" parameterType="Student">
		UPDATE STUDENT
		SET PROF_ID = #{profId}
		WHERE STU_ID = #{stuId}
	</update>

</mapper>