<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studentStatusMapper">

	<resultMap id="studentStatusResultMap" type="StudentStatus">
		<id property="stsNo" column="STS_NO"/>
		<result property="stsProcess" column="STS_PROCESS"/>
		<result property="stsAdm" column="STS_ADM"/>
		<result property="stsComplete" column="STS_COMPLETE"/>
		<result property="applicationNo" column="APPLICATION_NO"/>
	</resultMap>

	<resultMap id="studentOffResultMap" type="StudentOff">
		<id property="applicationNo" column=""/>
		<result property="offCategory" column=""/>
		<result property="offDate" column=""/>
		<result property="offSem" column=""/>
		<result property="offReason" column=""/>
		<result property="status" column=""/>
	</resultMap>
	
	<select id="" resultMap="studentStatusResultMap">
		
	</select>
	
	
	
</mapper>