<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studentStatusMapper">

	<resultMap id="studentStatusResultMap" type="StudentStatus">
		<result property="stsProcess" column="STS_PROCESS"/>
		<result property="stsCategory" column="STS_CATEGORY"/>
		<result property="stsComplete" column="STS_COMPLETE"/>
		<result property="status" column="STATUS"/>
		<result property="applicationNo" column="APPLICATION_NO"/>
	</resultMap>
	
	<resultMap id="studentOffResultMap" type="StudentOff">
		<result property="applicationNo" column="APPLICATION_NO"/>
		<result property="stuId" column="STU_ID"/>
		<result property="offCategory" column="OFF_CATEGORY"/>
		<result property="offDate" column="OFF_DATE" javaType="java.sql.Date"/>
		<result property="offSemCnt" column="OFF_SEM_CNT"/>
		<result property="offSem" column="OFF_SEM"/>
		<result property="offReason" column="OFF_REASON"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	
	<select id="studentProList" resultMap="studentStatusResultMap">
		SELECT * 
		FROM STU_STATUS_PRO
		WHERE STATUS = 'Y'
	</select>
	
	<select id="studentOff" resultMap="studentOffResultMap">
		SELECT * 
		FROM STU_OFF
		WHERE STATUS = 'Y'
	</select>
	
	
	
</mapper>