<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings><!-- value 에 NULL 은 무조건 대문자로  -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
	     <typeAlias type="com.kh.spring.acalendar.model.vo.Acalendar" alias="Acalendar"/>
		 <typeAlias type="com.kh.spring.member.vo.Student" alias="Student"/>
		 <typeAlias type="com.kh.spring.studentStatus.model.vo.StudentDo" alias="StudentDo"/>
		 <typeAlias type="com.kh.spring.studentStatus.model.vo.StudentOff" alias="StudentOff"/>
		 	 <typeAlias type="com.kh.spring.studentStatus.model.vo.StudentStatus" alias="StudentStatus"/>
	</typeAliases>


	<mappers>
		<mapper resource="/mappers/calendar-mapper.xml"/> 
		<mapper resource="/mappers/student-mapper.xml"/> 
		<mapper resource="/mappers/studentStatus-mapper.xml"/> 
	</mappers>


</configuration>
